@import '../../scss/main.scss';

.cta {

    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 6px;
//     background-color: $purple;
// }
background-color: $white;
    border: 1px solid $darkpurple;
}

.cta:hover {

    background-color: $purple;
}