@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/_variables';


$darkpurple: #633CFF;
$purple: #BEADFF;
$lightpurple: #EFEBFF;
$white: #FFFFFF;
//$black: #000000;
$black: #333333;
$darkgrey: #737373;
$grey: #D9D9D9;
$lightgrey: #FAFAFA;
$red: #FF3939;

$custom-theme-colors: (
    
"darkpurple": $darkpurple,
"purple": $purple,
'lightpurple' : $lightpurple, 
"dark": $dark ,
"darkgrey" : $darkgray,
"grey" : $grey,
"lightgrey": $lightgrey,
"red" : $red,
"white": $white,
"black" : $black,

);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "node_modules/bootstrap/scss/bootstrap";
